<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="icon" type="image/png" href="/img/site/favicon.png">
    <title>{{.title}}</title>
  </head>
  <body>
    <header id="site-header">
      <h1 id="site-title"><a href="/">Feles Atra</a></h1>
    </header>
    <section>
      <header class="content-header">
        <h1>{{.title}}</h1>
        <dl>
          {{- if .published}}
          <dt>Published</dt>
          <dd>{{.published}}</dd>
          {{- end}}
          {{- if .modified}}
          <dt>Last modified</dt>
          <dd>{{.modified}}</dd>
          {{- end}}
        </dl>
      </header>
      {{.body}}
    </section>

    <footer id="site-footer">
      <address>
        <a href="https://keys.openpgp.org/search?q=E9397FA17F2501B5EF7344B9871AC6C82D45F74D">Webmaster</a>
      </address>
      <a href="/atom.xml">Atom feed</a>
      <div id="site-copyright">
        <p>
          <span xmlns:dct="https://purl.org/dc/terms/" property="dct:title">Feles Atra</span> by
          <a xmlns:cc="https://creativecommons.org/ns#"
             href="https://www.felesatra.moe" property="cc:attributionName"
             rel="cc:attributionURL">Allen Li</a> is licensed under a
          <a rel="license"
             href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
            Attribution-ShareAlike 4.0 International License</a>.
        </p>
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" class="centered"
               src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
        </a>
      </div>
    </footer>
  </body>
</html>
