<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="icon" type="image/png" href="/img/site/favicon.png">
    <title>{{.Title}}</title>
  </head>
  <body>
    <header id="site-header">
      <h1 id="site-title"><a href="/">Feles Atra</a></h1>
    </header>
    <section>
      <header class="content-header">
        <h1>{{.Title}}</h1>
        <dl>
          {{- if .Published}}
          <dt>Published</dt>
          <dd>{{.Published}}</dd>
          {{- end}}
          {{- if .Modified}}
          <dt>Last modified</dt>
          <dd>{{.Modified}}</dd>
          {{- end}}
        </dl>
      </header>
      {{.Body}}
    </section>

    <footer id="site-footer">
      <div id="site-footer-links">
        <address>
          <a href="/identity.txt">Webmaster</a>
        </address>
        <a href="/atom.xml">Atom feed</a>
      </div>
      <div id="site-copyright">
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
          <span property="dct:title">Feles Atra</span> by
          <span property="cc:attributionName">Allen Li</span> is licensed under
          <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
            Creative Commons Attribution-ShareAlike 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="">
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
