<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="icon" type="image/png" href="/img/site/favicon.png">
    <script type="text/javascript" src="/js/ipfs.js"></script>
    <title>{{.Title}}</title>
  </head>
  <body>
    <header id="site-header">
      <h1 id="site-title"><a href="/">Feles Atra</a></h1>
    </header>
    <section>
      <header class="content-header">
        <h1>{{.Title}}</h1>
        <dl>
          {{- if .Published}}
          <dt>Published</dt>
          <dd>{{.Published}}</dd>
          {{- end}}
          {{- if .Modified}}
          <dt>Last modified</dt>
          <dd>{{.Modified}}</dd>
          {{- end}}
        </dl>
      </header>
      {{.Body}}
    </section>

    <footer id="site-footer">
      <div id="site-footer-links">
        <address>
          <a href="/identity.txt">Webmaster</a>
        </address>
        <a href="/atom.xml">Atom feed</a>
        <a href="https://cf-ipfs.com/ipns/www.felesatra.moe">IPFS</a>
      </div>
      <div id="site-copyright">
        <p>
          <span xmlns:dct="https://purl.org/dc/terms/" property="dct:title">Feles Atra</span> by
          <a xmlns:cc="https://creativecommons.org/ns#"
             href="https://www.felesatra.moe/" property="cc:attributionName"
             rel="cc:attributionURL">Allen Li</a> is licensed under a
          <a rel="license"
             href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
            Attribution-ShareAlike 4.0 International License</a>.
        </p>
        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" class="centered"
               src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
        </a>
      </div>
    </footer>
  </body>
</html>
