body {
    max-width: 750px;
    margin: auto;
    background-color: #FFFFEF;
    color: #202020;
}

code {
}

/* Definition lists */
dt {
	  font-weight: bold;
}

dt:after {
    content: ":";
}

dd {
    margin-left: 15px;
}


/* Tables */
table {
    border-collapse: collapse;
    margin: 5px;
    border-left: hidden;
}

tr {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

th, td {
    padding: 4px;
    text-align: center;
}

colgroup {
    border-left: 1px solid;
}