body {
    max-width: 750px;
    margin: auto;
    background-color: #FFFFDF;
    color: #202020;
}

code {
    background-color: #FFDFFF;
}

pre {
    margin-left: 10px;
    border-left: 3px solid;
    padding-left: 5px;
    background-color: #EFFFFF;
}

pre code {
    background-color: inherit;
}

/* Definition lists */
dt {
	  font-weight: bold;
}

dt:after {
    content: ":";
}

dd {
    margin-left: 15px;
}


/* Tables */
table {
    border-collapse: collapse;
    margin: 5px;
    border-left: hidden;
}

tr {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

th, td {
    padding: 4px;
    text-align: center;
}

colgroup {
    border-left: 1px solid;
}