#site-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    padding: 5px;
}

#site-title {
    font-size: 200%;
    margin: 5px;
}

span.site-nav-item {
    margin: 5px;
}

#site-footer {
    display: flex;
    border-top: 2px black solid;
    padding: 5px;
}

body {
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}