{{ partial "header.html" . }}

<section>
  <header>
    <h1>{{ .Title }}</h1>

    <dl class="attributes-inline">
      <dt>Last updated</dt>
      <dd>{{ .Date.Format "2006-01-02" }}</dd>
      {{/*  If publishdate isn't set, it will default to the given UNIX time */}}
      {{ if not (eq (.PublishDate.Unix) -62135596800) }}
      <dt>Published</dt>
      <dd>{{ .PublishDate.Format "2006-01-02" }}</dd>
      {{ end }}
    </dl>
  </header>

  {{ .Content }}
</section>

{{ partial "footer.html" . }}
