<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ "css/site.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/base.css" | absURL }}">
    <link rel="icon" type="image/png" href="{{ "img/site/favicon.png" | absURL }}">

    {{ if .RSSlink }}
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml">
    {{ end }}

    {{ if .IsPage }}
    {{ if .NextInSection }}
    <link href="{{ .NextInSection.Permalink }}" rel="next">
    {{ end }}

    {{ if .PrevInSection }}
    <link href="{{ .PrevInSection.Permalink }}" rel="prev">
    {{ end }}
    {{ end }}

    {{ range $key, $value := .Params }}
    {{ $.Scratch.Add $key $value }}
    {{ end }}

    {{ if $.Scratch.Get "toc" }}
    <script src="{{ "js/generated_toc.js" | absURL }}"></script>
    {{ end }}

    {{ if $.Scratch.Get "tablesorter" }}
    {{ partial "jquery.html" . }}
    {{ partial "tablesorter.html" . }}
    {{ end }}

    {{ partial "google-analytics.html" . }}

    <title>{{ .Title }}</title>
  </head>

  <body>

    <header id="site-header">
      <a id="site-title" href="{{ .Site.BaseURL }}">Feles Atra</a>
      <nav id="site-header-right">
        {{ if .RSSlink }}
        <a href="{{ .RSSlink }}">
          <img src="{{ "img/site/feed-icon-14x14.png" | absURL }}" alt="RSS feed">
        </a>
        {{ end }}
        <a href="{{ ref . "about.md" }}">About</a>
        <a href="{{ ref . "site-index.md" }}">Site Index</a>
      </nav>
    </header>
