<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="icon" type="image/png" href="/favicon.png">

    {{ if .RSSlink }}
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml"/>
    {{ end }}

    {{ if .IsPage }}
    {{ if .NextInSection }}
    <link href="{{ .NextInSection.Permalink }}" rel="next"/>
    {{ end }}

    {{ if .PrevInSection }}
    <link href="{{ .PrevInSection.Permalink }}" rel="prev"/>
    {{ end }}
    {{ end }}

    {{ if and (isset .Params "jquery") (eq .Params.jquery true) }}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    {{ end }}

    {{ if and (isset .Params "tablesorter") (eq .Params.tablesorter true) }}
    {{ partial "tablesorter.html" . }}
    {{ end }}

    {{ partial "google-analytics.html" . }}

    <title>{{ .Title }}</title>
  </head>

  <body>

    <header id="site-header">
      <a id="site-title" href="/">Feles Atra</a>
      <nav id="site-nav">
        <a href="/pages/about">About</a>
        <a href="/pages">All Pages</a>
        <a href="/posts">All Posts</a>
        <a href="/pages/site-index">Site Index</a>
      </nav>
    </header>
