<dl class="attributes-inline">
  {{ if isset .Params "subjects" }}
  <dt>Subjects</dt>
  <dd>
    {{ delimit .Params.subjects ", " }}
  </dd>
  {{ end }}
  {{ if isset .Params "contents" }}
  <dt>Contents</dt>
  <dd>
    {{ delimit .Params.contents ", " }}
  </dd>
  {{ end }}
</dl>
<dl class="attributes-inline">
  <dt>Sort date</dt>
  <dd>{{ .Date.Format "2006-01-02" }}</dd>
  {{/*  If publishdate isn't set, it will default to the given UNIX time */}}
  {{ if not (eq (.PublishDate.Unix) -62135596800) }}
  <dt>Published</dt>
  <dd>{{ .PublishDate.Format "2006-01-02" }}</dd>
  {{ end }}
  {{ if isset .Params "modified" }}
  <dt>Last modified</dt>
  <dd>{{ .Params.modified }}</dd>
  {{ end }}
</dl>
