<html>
  <head>
    <title>Feles Atra</title>
    {{ partial "header.html" . }}
  </head>
  <body>

    {{ partial "site-header.html" . }}

    <p>This is my homepage.  There are many like it, but this one is mine.</p>

    <p>Site is under construction (again).  Expect it to change over time.
    However, it will stay simple, or "ugly" for those who value form over
    function.</p>

    <p>Blog posts can be found under "All Posts" in the navigation above.</p>

    <p>Individual pages can likewise be found under "All Pages".</p>

    <p>The Keihan page can be found under "All Pages", or <a href="/pages/keihan">linked
    here</a> for now.</p>

    {{ partial "site-footer.html" . }}

  </body>
</html>
