{{ partial "header.html" . }}

<section>
  <h2>Table of contents</h2>
  {{/* Remove after fixing script including with params */}}
  <script src="/js/generated_toc.js"></script>
  <nav id="generated-toc" class="generate_for_page">
    Table of contents requires Javascript.</nav>
</section>

<section>
  <h2>Introduction</h2>
  <p>This is my homepage.  There are many like it, but this one is mine.</p>

  <p>Site is under construction, so expect it to change over time.  However, it
    will stay simple, as I'm not fond of loading 10 MB of JavaScript and CSS for
    a document that should by all rights be no more than 10 kB.</p>

  <p>In the meantime:</p>

  <ul>
    <li>Blog posts can be found under "All Posts" in the navigation above.</li>

    <li>Individual pages can likewise be found under "All Pages".</li>

    <li>The Keihan page can be found under "All Pages", or <a href="/pages/keihan">linked
      here</a> for now.</li>
  </ul>
</section>

<section>
  <h2>Links</h2>
  <nav>
  </nav>
</section>

<section>
  <h2>Posts</h2>
  {{ range first 5 (where .Data.Pages.ByPublishDate.Reverse "Section" "posts") }}
  {{ .Render "summary" }}
  {{ end }}
  <a class="block" href="/posts">All posts</a>

  <section>
    <h3>By subject</h3>
    <nav>
      <ul>
        <li><a href="/subjects/anime">Anime</a></li>
        <li><a href="/subjects/programming">Programming</a></li>
        <li><a href="/subjects/meta">Meta</a></li>
      </ul>
    </nav>
  </section>

  <section>
    <h3>By content</h3>
    <nav>
      <ul>
        <li><a href="/contents/transcription">Transcriptions</a></li>
        <li><a href="/contents/review">Reviews</a></li>
      </ul>
    </nav>
  </section>

</section>

<section>
  <h2>Recently updated</h2>
  <nav>
    {{ range first 10 .Data.Pages.ByDate.Reverse }}
    {{ .Render "li" }}
    {{ end }}
  </nav>
</section>

{{ partial "footer.html" . }}
