title: Feles Atra
published: 2015-01-01
aggregation: yes
---

{%- from 'macros.html' import abs_url, page_li -%}

<p>This is my homepage.  There are many like it, but this one is mine.</p>

<p>
  You probably got a security warning for this site.  Check the
  <a href="{{ abs_url('about/#ssl') }}">SSL/TLS section of the About page</a>
  for more details.
</p>

<p>
  If you don't know that much about SSL, all it means is that someone might be
  snooping between this site and you, so be careful entering your bank account
  information on this site or running programs you download from this site.  You
  shouldn't be doing either of those things though, regardless of the SSL
  security warning.
</p>

<section>
  <h1>Select pages</h1>
  <nav>
    <ul>
      <li><a href="{{ abs_url('site-index/') }}">Site Index</a></li>
      <li><a href="{{ abs_url('keihan/') }}">契絆想解詩</a></li>
      <li><a href="{{ abs_url('projects/') }}">Projects</a></li>
      <li><a href="https://teiwaz-project.github.io/">Teiwaz Project</a></li>
    </ul>
  </nav>
</section>

<section>
  <h1>Debug</h1>
  <dl>
    {% for page in site.pages %}
    <dt>{{ page.path|e }}</dt>
    <dd><code>{{ page.document|e }}</code></dd>
    {% endfor %}
  </dl>
</section>

<section>
  <h1>New pages</h1>
  <ul>
    {% for page in site.pages
    |selectattr('document.metadata.aggregate')
    |sort(attribute='document.metadata.published', reverse=True)
    |first(5) %}
    <li>{{ page.document.metadata.title }}</li>
    {% endfor %}
  </ul>
</section>

<section>
  <h1>Updated pages</h1>
  <ul>
    {% for page in site.pages
    |selectattr('document.metadata.aggregate')
    |sort(attribute='document.metadata.updated', reverse=True)
    |first(5) %}
    {{ page_li(page) }}
    {% endfor %}
  </ul>
</section>
