{# Base template for all site pages. #}
{% extends 'html_base.html' %}

{% from 'macros.html' import abs_url, load_jquery, pgpkey %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ abs_url('css/base.css') }}">
<link rel="stylesheet" type="text/css" href="{{ abs_url('css/site.css') }}">
<link rel="icon" type="image/png" href="{{ abs_url('img/site/favicon.png') }}">

{% if js_tablesorter %}
{{ load_jquery() }}
<script src="{{ abs_url('js/tablesorter.js') }}"></script>
<script>
 $(document).ready(function() {
   $("table.tablesorter").tablesorter();
 });
</script>
{% endif %}

<title>{{ title }}</title>
{% endblock head %}

{% block body %}
<header id="site-header">
  <h1 id="site-title"><a href="{{ abs_url('/') }}">Feles Atra</a></h1>
  <ul id="site-nav">
    {% for navitem in site.nav %}
    <li><a href="{{ abs_url(navitem.url) }}">{{ navitem.name }}</a></li>
    {% endfor %}
      <li>
        <a href="{{ abs_url('atom.xml') }}">
          <img src="{{ abs_url('img/site/feed-icon-14x14.png') }}" alt="RSS feed">
        </a>
      </li>
  </ul>
</header>

{% block base_content %}
{{ content }}
{% endblock %}

<footer id="site-footer">
  <address>
    The webmaster for this site is {% call pgpkey() %}darkfeline{% endcall %}.
  </address>
  <div id="site-copyright">
    <p>
      Feles Atra by Allen Li is licensed under a
      <a rel="license"
         href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
        Attribution-ShareAlike 4.0 International License</a>.
    </p>
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons License" class="centered"
           src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
    </a>
  </div>
</footer>
{% endblock body %}
