{% macro abs_url(ref) -%}
{{ ref|urljoin(site.url)|e }}
{%- endmacro %}

{% macro imgfig(src, alt) -%}
<figure>
  <img src="{{ abs_url(src)|e }}" alt="{{ alt|e }}">
</figure>
{%- endmacro %}

{% macro load_jquery() -%}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
{%- endmacro %}

{% macro pgpkey() -%}
<a href="https://sks-keyservers.net/pks/lookup?op=get&search=0x871AC6C82D45F74D">{{ caller() }}</a>
{%- endmacro %}

{% macro page_li(page) -%}
{% with metadata = page.document.metadata -%}
<li>
  <span class="aside">{{ metadata.updated }}</span>
  <a href="{{ abs_url(page.path)|e }}">{{ metadata.title }}</a>
</li>
{%- endwith %}
{%- endmacro %}

{% macro codeblock() -%}
<pre><code>{{ caller()|e }}</code></pre>
{%- endmacro %}

{% macro code(text) -%}
<code>{{ text|e }}</code>
{%- endmacro %}
