/* Site header */
#site-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    padding: 5px;
    margin-bottom: 7px;
    justify-content: space-between;
}

#site-header a {
    text-decoration: none;
    color: inherit;
}

#site-title {
    font-size: 200%;
    margin: 0px;
}

#site-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
}

#site-nav li {
    padding: 0px;
    margin: 0px;
    font-size: 120%
}

/* Site footer */
#site-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 2px black solid;
    padding: 5px;
    margin-top: 7px;
    font-size: 75%;
    /* color: #808080; */
}

/* #site-footer > * { */
/*     margin: 5px; */
/*     flex: 1 1 40%; */
/* } */

/* Article header */
header.article-header h1 {
    margin-bottom: 5px;
}

header.article-header dl {
    margin-top: 5px;
    color: #808080;
    font-size: 75%;
}

header.article-header dt {
    display: inline;
}

header.article-header dd {
    display: inline;
    margin-left: 0px;
    margin-right: 5px;
}

/* Attributes definition list */
dl.attributes, dl.attributes-inline {
    font-size: 75%;
    color: #808080;
}

dl.attributes-inline {
    margin-top: 2px;
    margin-bottom: 2px;
}

dl.attributes-inline dt {
    display: inline;
}

dl.attributes-inline dd {
    display: inline-block;
    margin-right: 15px;
}

/* Summary article */
article.summary-article {
    border-left: 2px groove;
    padding-left: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Single block link */
a.block {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
}

/* Table of contents */
nav#generated-toc {
    border: 2px solid #DDDDDD;
    padding: 10px;
}

nav#generated-toc p {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* tablesorter.js */
th.headerSortUp:after {
    content: "▲";
}

th.headerSortDown:after {
    content: "▼";
}