/* Site header */
#site-header {
    display: flex;
    align-content: center;
    border-bottom: 2px solid;
    padding: 5px;
    margin-bottom: 7px;
    justify-content: space-between;
}

#site-header a {
    text-decoration: none;
    color: inherit;
}

#site-title {
    font-size: 200%;
    margin: 0px;
}

/* Site footer */
#site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px black solid;
    padding: 5px;
    margin-top: 7px;
    font-size: 75%;
    color: #808080;
}

#site-footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#site-footer-links a {
    padding: 5px
}

#site-copyright p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#site-copyright img {
    padding: 4px;
}

/* Content */
header.content-header > h1 {
    margin-bottom: 5px;
}

header.content-header > dl {
    margin-top: 5px;
    color: #808080;
    font-size: 75%;
}

header.content-header dt {
    display: inline;
}

header.content-header dd {
    display: inline;
    margin-left: 0px;
    margin-right: 5px;
}

body > section {
    margin-left: 5px;
    margin-right: 5px;
}
